name: Testim E2E
on: [push]

jobs:
  run-testimio-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install uv
        run: pip install uv --user
        shell: bash
      - name: Set up Python
        run: uv python install
        shell: bash
      - name: Install python dependencies by uv
        run: uv sync
        shell: bash
        working-directory: ${{ inputs.working-directory }}
      - name: Django setup
        run: |
          uv run python manage.py migrate
          uv run python manage.py runserver &
          sleep 5
        shell: bash

      - name: Install strace
        run: sudo apt-get update && sudo apt-get install -y strace xvfb

      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install chromedriver
        run: |
          npm install -g chromedriver
          CHROME_NPM_ROOT="$(npm root -g)"
          echo "$CHROME_NPM_ROOT/chromedriver/bin" >> "$GITHUB_PATH"
      - name: Check chromedriver
        run: |
          which chromedriver || { echo "chromedriver not in PATH"; exit 1; }
          chromedriver --version || { echo "chromedriver failed"; exit 1; }

      - run: npm install -g @testim/testim-cli
      - name: Run Testim tests
        run: |
          mkdir -p test-results
          mkdir -p traces
          strace -Ttt -f  -s 0 -o traces/testim.strace -e trace=execve testim \
            --token "$TESTIM_TOKEN" \
            --project "$TESTIM_PROJECT" \
            --chrome-binary-location /usr/bin/google-chrome \
            --use-local-chrome-driver \
            --mode selenium \
            --headless \
            --branch "$BRANCH_NAME" \
            --suite "Django TODO Apps" \
            --base-url "http://127.0.0.1:8000/admin/" \
            --report-file test-results/testim-report.xml
        env:
          TESTIM_TOKEN: ${{ secrets.TESTIM_TOKEN }}
          TESTIM_PROJECT: ${{ secrets.TESTIM_PROJECT }}
          CHROME_PATH: ${{ steps.setup_chrome.outputs.chrome-path }}
      - name: Upload strace artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: strace-logs
          path: traces/
